/* All Content */

body {
    margin: 0 auto;
}
h1 {
    background-color: lightskyblue;
    color:aliceblue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* Home Page */

.link-container {
    width: 250px;
    margin: 25px auto;
}
.link-container ul li {
    padding-bottom: 10px;
}

/* All Recipe Pages */

.content-container {
    width: 500px;
    margin: 25px auto;
}
.intro-section img {
    display: block;
    width: 375px;
    margin: auto;
}